{% include 'header.html' %}
{% load static %}
<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="signup-form">
			<form id="signupform" action="" class="mt-5 border p-4 bg-light shadow">
				{% csrf_token %}
				<h4 class="mb-5 text-secondary">Create Your Account</h4>
				<div class="row">
					<div class="mb-1 col-md-12 checkbox">
						<label>Are you an Event Manager?<span class="text"></span></label>
						<input type="checkbox" value="" id="event_manager">
					</div>

					<div class="mb-3 col-md-6">
						<label>First Name<span class="text-danger">*</span></label>
						<input id="first_name" type="text" name="fname" class="form-control" placeholder="Enter First Name">
					</div>

					<div class="mb-3 col-md-6">
						<label>Last Name<span class="text-danger">*</span></label>
						<input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
					</div>

					<div class="mb-3 col-md-6">
						<label>Last Name<span class="text-danger">*</span></label>
						<input type="text" name="Lname" class="form-control" placeholder="Enter Last Name">
					</div>


					<div class="mb-3 col-md-12">
						<label>Password<span class="text-danger">*</span></label>
						<input type="password" name="password" class="form-control" placeholder="Enter Password">
					</div>
					<div class="mb-3 col-md-12">
						<label>Confirm Password<span class="text-danger">*</span></label>
						<input type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password">
					</div>
					<div class="col-md-12">
						<button type="submit" class="btn btn-dark btn-primary float-end">Sign-Up</button>
					</div>
				</div>
			</form>
			<p class="text-center mt-3 text-secondary">If you have account, Please <a href="{% url 'login' %}">Login Now</a></p>
		</div>
	</div>
</div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
	$(document).ready(function () {
			$('#event_manager').prop('checked')

			if($('#event_manager').prop('checked')){
					$('#first_name').attr('hidden',false);
				}
		});
</script>
{% include 'footer.html' %}
</body></html>
